/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Begin my changes here */
/* Mixins */
.pink-background {
  background-color: #b29bb4;
}
.purple-background {
  background-color: #6f5d88;
}
.pink-text {
  color: #b29bb4;
}
.purple-text {
  color: #6f5d88;
}
.pink-border {
  border-color: #b29bb4;
}
.purple-border {
  border-color: #6f5d88;
}
/* Default styling for desktop */
body.container {
  width: 100%;
  padding: 2em;
  background-color: #b29bb4;
}
body.container h1 {
  font-size: 3.5rem;
  color: #b29bb4;
  background-color: #6f5d88;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body.container h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: #6f5d88;
}
body.container header {
  width: 100%;
}
body.container header nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}
body.container header nav a {
  padding: 20px;
  font-size: 1.5em;
  text-decoration: none;
  color: #6f5d88;
}
body.container header nav a:hover {
  color: purple;
}
body.container .first-section {
  width: 100%;
  padding: 10px;
  background-color: #6f5d88;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
}
body.container .first-section div {
  padding: 20px;
}
body.container .first-section .img {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.container .first-section img {
  width: 100%;
  border-radius: 50%;
}
body.container .first-section .intro {
  width: 49%;
}
body.container .first-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  color: #b29bb4;
}
body.container .first-section p {
  font-size: 1.25em;
  margin-bottom: 1em;
  color: #b29bb4;
  line-height: 1.3em;
}
body.container .second-section div p {
  font-size: 1.25em;
  margin-bottom: 1em;
  color: #6f5d88;
}
body.container .second-section div button {
  background-color: #b29bb4;
  border-radius: 5px;
  border: 1px solid;
  width: 150px;
  height: 40px;
  font-size: 1.5em;
  color: #6f5d88;
}
body.container .second-section div button:hover {
  background-color: #6f5d88;
  color: #b29bb4;
  border-color: #b29bb4;
}
body.container h2 {
  font-size: 2rem;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  color: #6f5d88;
}
body.container .third-section {
  margin-bottom: 30px;
}
body.container .third-section .third-label {
  display: flex;
  justify-content: space-around;
}
body.container .third-section .third-label h3 {
  width: 45%;
}
body.container .third-section .lists {
  display: flex;
  justify-content: space-around;
}
body.container .third-section .lists ul {
  width: 45%;
}
body.container .third-section .lists ul li {
  padding: 10px;
  border: 1px solid;
  font-size: 1.3rem;
  color: #b29bb4;
  background-color: #6f5d88;
  border-bottom: none;
}
body.container .third-section .lists ul :last-child {
  border-bottom: 1px solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
body.container .third-section .lists ul :first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body.container .third-section .improvements {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
body.container .third-section .improvements ul li {
  padding: 10px;
  border: 1px solid;
  font-size: 1.3rem;
  border-color: #6f5d88;
  color: #6f5d88;
  border-bottom: none;
}
body.container .third-section .improvements ul :first-child {
  border-left: 1px solid black;
}
body.container .third-section .improvements ul :last-child {
  border-bottom: 1px solid;
}
body.container .work-history {
  margin-bottom: 30px;
}
body.container .work-history h3 {
  margin-bottom: 0;
  padding-bottom: 10px;
}
body.container .work-history .table {
  border: 1px solid;
  border-color: #6f5d88;
  background-color: #6f5d88;
  color: #b29bb4;
  border-radius: 20px;
}
body.container .work-history .table ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
}
body.container .work-history .table ul li {
  width: 24.5%;
  padding: 10px;
  flex-grow: 2;
}
body.container .work-history .table ul :first-child {
  width: 10%;
}
body.container .work-history .headings {
  font-weight: bold;
}
body.container .footer {
  background-color: #6f5d88;
  color: #b29bb4;
  border-radius: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  height: 3em;
  padding-top: 1em;
}
/* Tablet responsive design */
/* Mobile responsive design */
@media (max-width: 500px) {
  .container header nav {
    flex-direction: column;
    justify-content: space-around;
  }
  .container header nav a {
    border-bottom: 1px solid;
    border-color: #6f5d88;
    margin: auto;
  }
  .container header nav a:last-child {
    border-bottom: none;
  }
  .container .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container .first-section img {
    margin: auto;
  }
}
