// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Begin my changes here */
body.container {
	width: 100%;
	padding: 2em;
	background-color: rgb(201, 149, 206);
	header {
		width: 100%;
		nav {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			a {
				padding: 20px;
				margin: auto;
				font-size: 1.5em;
				text-decoration: none;
				color: rgb(140, 65, 236);
			}
			a:hover {
				color: purple;
			}
		}
	}
	section.first-section {
		width: 100%;
		padding: 5%;
		background: rgb(140, 65, 236);
		border-radius: 20px;
		padding-bottom: 50px;
		img {
			width: 49%;
			border-radius: 50%;
		}
		h1 {
			font-size: 3.5rem;
			margin-bottom: 0.5em;
			color: rgb(201, 149, 206);
		}
		h2 {
			font-size: 2rem;
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
			border-bottom: 1px solid rgb(201, 149, 206);
			color: rgb(201, 149, 206);
		}
		p {
			font-size: 1.25em;
			margin-bottom: 1em;
			color: rgb(201, 149, 206);
		}
		button {
			background: rgb(201, 149, 206);
			border-radius: 5px;
			border: 1px solid black;
			width: 150px;
			height: 40px;
			font-size: 1.5em;
			color: rgb(140, 65, 236)
		}
		button:hover {
			background: rgb(140, 65, 236);
			color: rgb(201, 149, 206);
		}
	}
}

@media (max-width: 500px) {
	.container {
		header {
			nav {
				flex-direction: column;
				justify-content: space-around;
				a {
					border-bottom: 1px solid rgb(140, 65, 236);
				}
				a:last-child {
					border-bottom: none;
				}
			}
		}
	}
}